html,
body {
  height: auto;
}

body {
  display: list-item;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 380px;
  padding: 15px;
}


.top[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle{
    border-radius: 0;
    margin-bottom: -1px;
}

.bottom[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}